<div class="jumbotron d-flex align-items-center" style="background-image: url(img/hero-5.jpg)">
  <div class="container text-right">
    <h1 class="display-2 mb-4">PollWeb</h1>
    <p>
      Rispondi ai nostri sondaggi o creane uno personalizzato.<br>Pubblici o privati, a seconda delle tue esigenze.
    </p>
  </div>
</div>


<section id="gtco-blog" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5">
                <h2 class="section-title">Sondaggi <b>popolari</b></h2>
                <p class="section-sub-title">Qui sono presenti i sondaggi più seguiti</p>
            </div>
            <div class="row">
                <!-- Blog -->
                <div class="col-md-12 blog-holder">
                    <div class="row">
                        <!-- Blog Item -->
                        <#if (poll?size>0)>
                            <#list polls as title, statePoll, URLPoll, openText, >
                            <div class="col-md-4 blog-item-wrapper">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="single.html"><img src="img/blog-1.jpg" alt=""></a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-tag">
                                            <#if (statePoll=1)>
                                            <a href="#"><h6><small>IN CORSO</small></h6></a>
                                            <#else>
                                            <a href="#"><h6><small>CHIUSO</small></h6></a>
                                            </#if>
                                        </div>
                                        <div class="blog-title">
                                            <a href=${URLPoll}><h4>${title}</h4></a>
                                        </div>
                                        <div class="blog-meta">
                                            <p class="blog-date">30 May 2016</p> /
                                            <p class="blog-comment"><a href="">23 Comments</a></p>
                                        </div>
                                        <div class="blog-desc">
                                            <p>${openText}</p>
                                        </div>
                                        <div class="blog-author">
                                            <p>by "${user.getUser(poll.IDuser)}"</p>
                                        </div>
                                        <div class="blog-share-wrapper">
                                            <a class="blog-share" href="google.com">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a class="blog-share" href="google.com">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Item -->
                            </#list>
                        <#else>
                        <p>Non sono presenti sondaggi nel database</p>
                        </#if>

                    </div>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>
</section>
