<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>images.directory</param-name>
        <!-- Tomcat must have write permissions on this folder -->
        <param-value>d:/Java/TomcatWork</param-value>
    </context-param>
    <context-param>
        <param-name>view.outline_template</param-name>
        <param-value>outline.ftl</param-value>
    </context-param>
    <context-param>
        <param-name>view.date_format</param-name>
        <param-value>dd/MM/yyyy hh:mm:ss</param-value>
    </context-param>
    <context-param>
        <param-name>view.debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>view.template_directory</param-name>
        <param-value>templates</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.author</param-name>
        <param-value>Giuseppe Della Penna</param-value>
    </context-param>
    <context-param>
        <param-name>view.data.homepage_url</param-name>
        <param-value>homepage</param-value>
    </context-param>
    <context-param>
        <param-name>view.encoding</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <context-param>
        <param-name>view.error_template</param-name>
        <param-value>error.ftl.html</param-value>
    </context-param>

    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>poolweb.controller.GetUser</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreatePoll</servlet-name>
        <servlet-class>poolweb.controller.CreatePoll</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CreateQuestions</servlet-name>
        <servlet-class>poolweb.controller.CreateQuestions</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Accedi</servlet-name>
        <servlet-class>poolweb.controller.LogIn</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreatePoll</servlet-name>
        <url-pattern>/creasondaggio</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CreateQuestions</servlet-name>
        <url-pattern>/aggiungidomande</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Accedi</servlet-name>
        <url-pattern>/accedi</url-pattern>
    </servlet-mapping>

    <resource-ref>
        <res-ref-name>jdbc/webdb2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>